.header {
    background-color: #2b3743;
    box-shadow: 10px 10px 10px #1d2932;
    &__wrapper {
        display: flex;

    }

    &__title {
        margin: 25px;
        font-size: 15px;
    }
}

