@import "colors";

.filter {
    margin: 50px;

    &__wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__search {
        width: 40%;
    }

    &__button {
        background-color: $secondary-bg;
        border: none;
        outline: none;
        pointer-events: none;
    }

    #filter__input {
        width: 90%;
        background-color: $secondary-bg;
        border: none;
        outline: none;
    }

    form {
        padding: 20px;
        width: 100%;
        background-color: #2b3743;
        box-shadow: 10px 10px 10px #1d2932;
        border: none;
        border-radius: 5px;
        display: inline-flex;
        justify-content: space-around;
    }

    &__select {

        select {
            background-color: #2b3743;
            box-shadow: 10px 10px 10px #1d2932;
            border: none;
            border-radius: 5px;
            padding: 20px;
            width: 100%;
            outline: none;
        }
        

        option {
            border: none;
            border-radius: 5px;
        }
    }
}

.country {
    margin-top: 80px;

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    &__item {
        display: flex;
        flex-direction: column;
        width: calc(25% - 70px);
        margin-bottom: 70px;
        
        img {
            width: 100%;
            
            object-fit: cover;
            box-shadow: 10px 10px 20px $box-sh;
            border-radius: 5px 5px 0px 0px;

        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        background: $secondary-bg;
        box-shadow: 10px 10px 20px $box-sh;
        border-radius: 0 0 5px 5px;
        padding: 30px;
        gap: 8px;

        &-item {
            display: flex;
            align-items: center;
            gap: 5px;
        }
    }
}

