@import "normalize";
@import "homepage";
@import "header";
@import "colors";
@import "mode";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans";
    color: #dae4ed;
}

body {
    background: $primary-bg 0% 0% no-repeat padding-box;
    opacity: 1;
}

main {
    min-height: calc(100vh - 193px);
    position: relative;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 80%;

    @media (max-width: 576px) {
        max-width: 100%;
    }
}

h2 {
    margin-bottom: 20px;
}

h3 {
    font-size: 16px;
    font-weight: 500;
}

span {
    font-size: 15px;
    font-weight: 400;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}
