@import "colors";
    
    .light-mode * {
        color: $text-white; 
        transition: 0.3s all ease;
    }

    body.light-mode {
        
        background: $main-white-bg 0% 0% no-repeat padding-box;
        color: $text-white;
       

        .header {
            background-color: $white-sec-bg;
            box-shadow: 0px 5px 10px $white-box-sh;
        }
    
        .filter {
            form {
                background-color: $white-sec-bg;
                box-shadow: 0px 5px 10px $white-box-sh;   
            }
            input {
                background-color: $white-sec-bg;            
            }
            select {
                background-color: $white-sec-bg;
                box-shadow: 0px 5px 10px $white-box-sh;                  
            }
            button {
                background-color: $white-sec-bg;     
            }
        }
    
        .country {
            img {
                box-shadow: 0px 5px 10px $white-box-sh;     
            }
            &__info {
                background-color: $white-sec-bg;
                box-shadow: 0px 5px 10px $white-box-sh; 
            }
        }
        
    }
    
    

